<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I'm Nam Gwang Ryu.</h2>
                <hr class="light">
                <p class="text-faded">Graduated from Dongguk University.<br>
					Bachelor of Science in Engineering in Multimedia Engineering.<br>
					I love my major!<br>
					I'm interested in image processing, computer vision, VR/AR/MR and VFX.<br>
					Still need more practice..!
				</p>
                <a href="#" class="btn btn-default btn-xl">Ta-da~</a>
            </div>
        </div>
    </div>
</section>
